body{
  text-align: center;
  font-family:"Happy Monkey", system-ui;
  background-size: cover;
  background-color: #a2d2ff;
  color:white;
}

#nick-photo{
  width: 600px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}

h1, h2, h3, h4, p{
  text-shadow: 0 0 1px black;
}

#bday-age{
  background:#EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 15px 0 10px 0;
}

#bday-date{
  background:#EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 0px;
}

#header{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.gift-section{
  margin-top: 50px;
}

.gift-header{
  margin-bottom: 10px;
}

.gift-parenthesis{
  margin-top: 0px;
}
.gift-cover{
    width:400px;
    border: 6px solid white;
    border-radius: 10px;
}

.gift-image{
  background-image: url(./images/gift-cover.png);
  width:400px;
  height:400px;
  border: 6px solid white;
  border-radius: 10px;
  background-size: cover;
  display:block;
  margin: 0 auto;
}

#first-image:hover{
  background-image: url(./images/KakaoTalk_20251224_220648218.png);
}

#second-image:hover{
  background-image: url(./images/KakaoTalk_20251224_220245760_06.png)
}

#third-image:hover{
  background-image: url(./images/KakaoTalk_20251224_220245760_07.jpg);
}

#fourth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_221630926.jpg);
}

#fifth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_220245760_05.jpg);
}

#sixth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_223557706_05.png);
}

#seventh-image:hover{
  background-image: url(./images/KakaoTalk_20251224_223557706_04.jpg);
}

#eighth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_223557706_03.jpg);
}

#ninth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_223557706_02.jpg);
}

#tenth-image:hover{
  background-image: url(./images/\/KakaoTalk_20251224_224514726_01.jpg);
}

#eleventh-image:hover{
  background-image: url(./images/KakaoTalk_20251224_225520998_01.jpg);
}

#twelveth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_225948236.jpg);
}

#thirteenth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_225520998_02.jpg);
}

#fourteenth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_223557706_01.jpg);
}

#fifteenth-image:hover{
  background-image: url(./images/pepe2.png);
}

#sixteenth-image:hover{
  background-image: url(./images/pepe3.png);
}

#eighteenth-image:hover{
  background-image: url(./images/image.png);
}

#ninteenth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_224514726_02.jpg);
}

#twentieth-image:hover{
  background-image: url(./images/KakaoTalk_20251224_220245760_04.jpg);
}